@import '../../../styles/mixings.scss';

.row {
  padding: 0 332px 0 332px;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-between(xs, sm) {
    padding: 0 32px 0 32px;
  }
}
